# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Environment variables
*.env
.env*.local

.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.dart_tool/
build/

.idea/

android/
lib/
windows/
