# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Environment variables
*.env
.env*.local

.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.dart_tool/
build/

.idea/

android/
ios/
lib/
linux/
macos/
test/
web/
windows/
.metadata
kivixa.iml
pubspec.lock
pubspec.yaml
analysis_options.yaml